<header>

  

  <ul>
    <!-- Main menu -->
    {% for link in linklists['main-menu'].links -%}
      <li>
        {{ link.title | link_to: link.url }}
      </li>
    {%- endfor %}

    {% comment %} <!-- Footer menu -->
    {% for link in linklists.footer.links -%}
      {{ link.title | link_to: link.url }}
    {%- endfor %} {% endcomment %}
  </ul>
</header>
